// /* Variables */

// colors
$nitro-blue: #5bacc3;
$nitro-pink: #fff0ed;
$graphite: #393939;
$light-grey: #f7f7f7f7;
$white: #fff;

/* Typography */
$open-sans: "Open Sans";
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-700: 700;
$italic: "italic";
$bold: "bold";

// Font-sizing
$font-size-base: 18px;

// various width
$icon-width: 50px;
$max-width: 100%;

// no padding
$padding-0: 0;

// Mixins
@mixin flexbox(
  $direction: row,
  $wrap: nowrap,
  $align-items: flex-start,
  $justify-content: flex-start
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin background-color($bg-color) {
  background-color: $bg-color;
}
