@use "../partials/global" as global;
@import "../partials/reset";

%inline-block {
  display: inline-block;
}

%text-decoration-none {
  text-decoration: none;
}

%blue {
  color: global.$nitro-blue;
}

.nav {
  @include global.background-color(global.$nitro-pink);

  &__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    height: 8rem;
    padding: 1.5rem 0 1.5rem 1rem;

    @include global.flexbox(row, nowrap, flex-end, space-between);
  }

  &__logo-image {
    vertical-align: bottom;
    @extend %inline-block;
  }

  &__link {
    color: global.$graphite;
    text-decoration: none;
    font-weight: global.$font-weight-300;
    font-size: 1.83rem;
    padding: 0 0.5rem;
    @extend %inline-block;
  }

  &__title {
    font-weight: global.$font-weight-300;
    margin: 0;
  }

  &__list {
    text-decoration: none;
    list-style-type: none;
    padding: 0 1rem;
  }

  &__list-item {
    font-size: 1.167rem;
    padding: 0 0.5rem;
    text-decoration: none;
    color: global.$graphite;
    @extend %inline-block;
    @extend %text-decoration-none;
  }

  &__logo-image {
    width: 2.78rem;
  }

  &__blue {
    @extend %blue;
    @extend %text-decoration-none;
  }
}
