/* Variables */
:root {
  /* Colors */
  /* font colors will be graphite, White, nirtroblue  */
  --nitro-blue: #5bacc3;
  --nitro-pink: #fff0ed;
  --graphite: #393939;
  --light-grey: #f7f7f7f7;
  --white: #fff;

  /* Typography */
  --open-sans: "Open Sans";
  --font-weight-300: "300";
  --font-weight-400: "400";
  --font-weight-700: "700";
}

html {
  font-size: 18px;
  height: 100%;
  width: 100%;
  margin: 0%;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: var(--graphite);
  height: 100%;
  width: 100%;
  margin: 0%;
}

h1,
h2 {
  font-size: 3.33rem;
  font-weight: 300;
}

h3,
.footer h1 {
  font-size: 1.83rem;
  font-weight: 300;
}

button {
  font-size: 1.167rem;
  font-weight: 400;
  width: 10rem;
  padding: 1.11rem;
  background-color: var(--nitro-blue);
  color: white;
  border: none;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold {
  font-style: bold;
  font-weight: 700;
}

.pink {
  background-color: var(--nitro-pink);
}

.regular-fw {
  font-weight: 400;
}

/* nav */
.nav {
  background-color: var(--nitro-pink);
}

.nav__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  height: 8rem;
  padding: 1.5rem 0 1.5rem 1rem;
}

.nav__logo-image {
  width: 2.78rem;
  vertical-align: bottom;
  padding: 0 0.5rem;
}
.nav__logo-image--inline-block {
  display: inline-block;
}
/* nav/header */
.nav__link {
  color: var(--graphite);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.83rem;
}
.nav__link--inline-block {
  display: inline-block;
  padding: 0 0.5rem;
}

.nav__title {
  margin: 0;
  padding: 0 0.5rem;
}
.nav__list {
  text-decoration: none;
  list-style-type: none;
  padding: 0 0.5rem;
}

.nav__list--inline-block {
  display: inline-block;
}

.nav__list-item {
  font-size: 1.167rem;
  padding: 0 0.5rem;
  text-decoration: none;
}

.nav__list-item--inline-block {
  display: inline-block;
}

.nav__list-item--graphite {
  color: var(--graphite);
}

.nav__list-item--no-text-decoration {
  text-decoration: none;
  color: var(--graphite);
}

.nav__list-item--no-text-decoration--blue {
  color: var(--nitro-blue);
}

.nav__list-item--blue {
  color: var(--nitro-blue);
}

.title-box {
  background-color: var(--graphite);
  color: var(--white);
  width: 16.67rem;
  height: 11.11rem;
  margin: 0;
  display: inline-block;
}

.coffee-circle {
  background-image: url("../assets/coffee-circle.jpg");
  text-align: center;
  width: 100%;
  height: 38.89rem;
  background-position: center;
  background-size: center;
}

.icon {
  width: 2.78rem;
}

.center-vertically {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.footer {
  height: 13rem;
  background-color: var(--nitro-pink);
  padding: 3.333rem;
  text-align: left;
}

.footer__wrapper {
  vertical-align: middle;
  padding-top: 1rem;
}

.footer__h3 {
  margin-top: 0;
  margin-bottom: 0.45rem;
}

.footer__details {
  display: inline-block;
  vertical-align: middle;
  height: 180px;
  width: 280px;
  margin: 0 3.5rem;
}

.footer__p--margin-0 {
  margin: 0;
}
