/* Variables */
:root {
  /* Colors */
  /* font colors will be graphite, White, nirtroblue  */
  --nitro-blue: #5bacc3;
  --nitro-pink: #fff0ed;
  --graphite: #393939;
  --light-grey: #f7f7f7f7;
  --white: #fff;

  /* Typography */
  --open-sans: "Open Sans";
  --font-weight-300: "300";
  --font-weight-400: "400";
  --font-weight-700: "700";
}

html {
  font-size: 18px;
  height: 100%;
  width: 100%;
  margin: 0%;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: var(--graphite);
  height: 100%;
  width: 100%;
  margin: 0%;
}

/* TODO: Check if you need to remove 
 */
h1,
h2 {
  font-size: 3.33rem;
  font-weight: 300;
  /* color: var(--graphite) */
}

/* TODO: Check if you need to remove 
 */
h3,
.footer h1 {
  font-size: 1.83rem;
  font-weight: 300;
}

/* nav */

.nav {
  background-color: var(--nitro-pink);
}

.nav__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  height: 8rem;
  padding: 1.5rem 0 1.5rem 1rem;
}

.nav__logo-image {
  width: 2.78rem;
  vertical-align: bottom;
}
.nav__logo-image--inline-block {
  display: inline-block;
}
/* nav/header */
.nav__link {
  color: var(--graphite);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.83rem;
}
.nav__link--inline-block {
  display: inline-block;
}

.nav__title {
  margin: 0;
}
.nav__list {
  text-decoration: none;
  list-style-type: none;
}

.nav__list--inline-block {
  display: inline-block;
}

.nav__list-item {
  font-size: 1.167rem;
}

.nav__list-item--inline-block {
  display: inline-block;
}

/* TODO: Separate this out possibly */
/* TODO: Double check that this font-size is according to style guide. this better matches the image  */

button {
  font-size: 1.167rem;
  font-weight: 400;
}

nav > .nav__wrapper > a > img,
nav > .nav__wrapper > a,
nav > .nav__wrapper > a > h2,
nav > .nav__wrapper > ul,
nav > .nav__wrapper > ul > li,
.menu > li {
  padding: 0 0.5rem;
}

nav > .nav__wrapper > ul > li > a {
  text-decoration: none;

  color: var(--graphite);
}

p {
  font-size: 1rem;
  font-weight: 400;
}

button {
  width: 10rem;
  padding: 1.11rem;
}
/* TODO: Is this duplicate? */
.title-box {
  background-color: var(--graphite);
  color: var(--white);
  width: 16.67rem;
  height: 11.11rem;
  margin: 0;
  /* text-align: center; */
  display: inline-block;
}

.coffee-circle {
  background-image: url("../assets/coffee-circle.jpg");
  /* border: #393939 5px solid; */
  text-align: center;
  width: 100%;
  height: 38.89rem;
  background-position: center;
  background-size: center;
}

.pink {
  background-color: var(--nitro-pink);
}

.italic {
  font-style: italic;
}

.bold {
  font-style: bold;
  font-weight: 700;
}

.regular-fw {
  font-weight: 400;
}

.menu a {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.menu-link {
  text-align: center;
  font-size: 1.17rem;
  font-weight: 400;
}

footer > section > h3 {
  margin-top: 0;
  margin-bottom: 0.45rem;
}

.icon {
  width: 2.78rem;
}

.center-vertically {
  display: flex;
  flex-direction: column;
  margin: auto;
}

footer {
  height: 13rem;
  text-align: center;
  padding: 0 3.333rem;
  text-align: left;
}
.address,
.hours,
.socials {
  vertical-align: middle;
  height: 180px;
  width: 280px;
  margin: 0 3.5rem;
}
.address > *,
.hours > *,
.socials > * {
  /* margin: 0; */
}
.p-top-1rem {
  padding-top: 1rem;
}
