/* Variables */
:root {
  /* Colors */
  /* font colors will be graphite, White, nirtroblue  */
  --nitro-blue: #5bacc3;
  --nitro-pink: #fff0ed;
  --graphite: #393939;
  --light-grey: #f7f7f7f7;
  --white: #fff;

  /* Typography */
  --open-sans: "Open Sans";
  --font-weight-300: "300";
  --font-weight-400: "400";
  --font-weight-700: "700";
}

.inline-block {
  display: inline-block;
}

.hero {
  padding: 5.55rem 0;
  display: inline-block;
  background-color: var(--nitro-pink);
  width: 100%;
}

.hero__about-nitro-coffee {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4.44rem;
  box-sizing: border-box;
  padding-right: 20rem;
}


/* hero__h1 */
.hero h1 {
  padding-bottom: 1.11rem;
}

.hero__p {
  padding-bottom: 1.11rem;
}

.hero__coffeebeans-image {
  display: inline-block;
  vertical-align: middle;
  padding-left: 9rem;
}

/* products section  */
.product {
  background-color: var(--light-grey);
  text-align: center;
  padding: 4.44rem 0;
}

.product__section-title {
  margin-top: 0;
  padding-top: 2.22rem;
}

.product__section-wrapper {
  text-align: center;
  margin: 0 0 2.22rem 0;
}

.product__card {
  display: inline-block;
  box-sizing: border-box;
  width: 18.33rem;
  height: 24.44rem;
  padding: 2.22rem 0 0 0;
  margin: 0 2.22rem 2.22rem 2.22rem;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: var(--white);
}

.product__name {
  margin-bottom: 0;
}

.product__price {
  color: var(--nitro-blue);
  margin-top: 1.11rem;
  font-size: 1.5rem;
}

.product__image {
  height: 13.33rem;
}

.discount-banner {
  height: 20rem;
}

.nitro .discount-banner {
  width: 90%;
  background-color: var(--graphite);
  color: white;
}

.discount-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  height: 22.2rem;
}

.discount-banner__regular-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 2.5rem;
  padding: 2.222rem;
  margin: 0;
  color: white;
  background-color: var(--graphite);
  text-align: center;
  width: 90%;
}

.discount-banner__bold-text {
  font-size: 2.5rem;
  font-weight: 700;
}
